.empty-state {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  color: #666666;
}

@media all and (min-width: 1200px) {
  .empty-state p, .empty-state h2 {
    padding: 0 50px;
  }
}

/* HEADERS */

.empty-state-header {
  background-image: url('../images/emptyState/empty-state-header.png');
}

/* TEXT */

.original-state-caption h2 {
  margin-top: 48px;
}

.original-state-caption p {
  padding-bottom: 80px;
}

.inspiration-caption {
  margin-top: 0;
}

.goal-text {
  margin-bottom: 50px;
}

/* IMAGES */

.empty-state-img {
  float: left;
}

.es-img1 {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 20px;
}

@media all and (min-width: 581px) {
  .es-img1 {
    width: 531px;
  }
}

.es-img2 {
  width: 100%;
  margin-right: 60px;
  margin-bottom: 20px;
}

/* 482px + 25px margins from content-wrapper */
@media all and (min-width: 532px) {
  .es-img2 {
    width: 482px;
  }
}

@media all and (min-width: 532px) (max-width: 1370px) {
  .es-img1, .es-img2, .captioned-pic {
    margin: 0 calc(50% - 241px);
    margin-bottom: 20px;
  }
}

.es-img3 {
  width: 100%;
}

.es-img4 {
  width: calc(100% - 60px);
  margin: 0 30px;
  margin-top: 100px;
}

@media all and (min-width: 650px) {
  .es-img4 {
    width: 75%;
    margin: 0 12.5%;
    margin-top: 100px;
  }
}

.es-bottom {
  display: block;
  padding-top: 40px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 120px;
}
