/* HEADERS */

.kudos-header {
  background-color: #6886F2;
  position: relative;
  min-height: 40vh;
}

/* ETC */

.kudos-inlay {
  position: absolute;
  top: 50%;
  margin-left: 25px;
}

@media all and (min-width: 650px) {
  .kudos-inlay {
    width: 60%;
    margin-left: 20%;
  }
}

.kudos-inlay-img {
  float: left;
  width: 50%;
}

.kudos-title h3, .kudos-title h1 {
  color: white;
}

@media all and (min-width: 1000px) {
  .kudos-title {
    float: right;
  }
}

.kudos-caption {
  word-wrap: break-word;
}

@media all and (min-width: 1050px) {
  .kudos-caption {
    height: 475px;
    overflow: auto;
  }
}

@media all and (min-width: 1300px) {
  .kudos-caption {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
  }
}
