/* ETC */

.kudos-inlay {
  display: flex;
  margin-left: 25px;
}

@media all and (min-width: 800px) {
  .kudos-inlay {
    margin: auto 15.5%;
  }
}

.kudos-wrapper {
}

.kudos-inlay-img-wrapper {
  width: 50%;
}

.kudos-inlay-img {
  width: 100%;
}

.kudos-big-img {
  width: 100%;
}

.kudos-title h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.kudos-title h3 {
}

@media all and (min-width: 100px) {
  .kudos-title {
    width: 50%;
  }
}

.kudos-desc {
  font-family: 'Roboto', sans-serif;
}

.kudos-caption {
  text-align: center;
}

.kudos-contact {
  font-weight: 400;
}
