.rbcx {
  position: relative;
}

@media all and (min-width: 650px) {
  .rbcx p, .rbcx h2 {
    padding: 0 50px;
  }
}

/* HEADERS */

.rbcx-header {
  background-image: url('../images/rbcx/header.png');
  background-color: #EA3A7D;
  background-repeat: no-repeat;
}

/* IMAGES */
/* TODO: Move common image CSS into ContentWrapper file */

.rbcx-img {
  float: left;
}

.rbcx-img1 {
  width: 531px;
}

@media all and (max-width: 581px) {
  .rbcx-img1 {
    width: 100%;
  }
}

.rbcx-img2 {
  width: 482px;
  margin-right: 50px;
  margin-bottom: 70px;
}

/* 482px + 25px margins from content-wrapper */
@media all and (max-width: 532px) {
  .rbcx-img2 {
    width: 100%;
  }
}

.rbcx-img3 {
  width: 100%;
}

.rbc-dots {
  width: 60%;
}
