.rbcx {
  font-family: 'Futura', sans-serif;
}

.design-thinking-wrapper {
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* IMAGES */

.backpacker {
  margin: -5px;
  width: 100%;
}

.open-book {
  margin: -5px;
  width: 100%;
}

@media all and (min-width: 650px) {
  .backpacker {
    width: 63.377%;
  }
  .open-book {
    width: 36.623%;
  }
}

.rbcx-gif {
  max-height: 258px;
  border-radius: 10px;
  object-fit: cover;
}
