.empty-state {
  position: relative;
}

/* HEADERS */

.empty-state-header {
  width: 100%;
  height: 200px;
  background-size: 650px;
  background-position: right;
  background-image: url('../images/emptyState/empty-state-header.png');
  background-repeat: no-repeat;
}

@media all and (min-width: 650px) {
  .empty-state-header {
    height: 318px;
    background-size: 1400px;
    background-position: left;
  }
}

.es-mid-header {
  width: 100%;
  background-color: white;
}

/* TEXT */

.empty-state-title {
  height: 204px;
  width: 100%;
  background-color: white;
}

.empty-state-title h1 {
  text-align: center;
}

.empty-state-desc {
  margin-bottom: 30px;
}

@media all and (min-width: 650px) {
  .empty-state-title {
    position: absolute;
    width: calc(100% - 350px);
    top: 210px;
    left: 175px;
  }

  .empty-state-title h1 {
    margin-top: 76px;
  }
}

@media all and (min-width: 1000px) {
  .empty-state-title {
    width: 642px;
  }
}

/* IMAGES */

.empty-state-img {
  float: left;
}

.es-img1 {
  width: 531px;
}

@media all and (max-width: 581px) {
  .es-img1 {
    width: 100%;
  }
}

.es-img2 {
  width: 482px;
  margin-right: 85px;
  margin-bottom: 20px;
}

/* 482px + 25px margins from content-wrapper */
@media all and (max-width: 532px) {
  .es-img2 {
    width: 100%;
  }
}

.es-img3 {
  width: 100%;
}

.clear-float {
  clear: both;
}

/* SHAPES */

.es-shape-container {
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

@media all and (min-width: 400px) {
  .es-shape-container {
    height: 300px;
  }
}

@media all and (min-width: 500px) {
  .es-shape-container {
    height: 500px;
  }
}

.es-shape-thingy {
  width: 0;
	height: 0;
	border-bottom: 350px solid #F9F7F2;
	border-right: 400vw solid transparent;
}

.es-img4 {
  position: absolute;
  top: 100px;
  width: calc(100% - 60px);
  margin: 0 30px;
  display: block;
}

@media all and (min-width: 650px) {
  .es-img4 {
    width: 50%;
    margin: 0 25%;
  }
}

@media all and (min-width: 1200px) {
  .es-img4 {
    position: absolute;
    top: 0;
  }
}
