.shape-container {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.25em;
}

.daihan-caption {
  word-wrap: break-word;
}

.daihan-who {
  height: 400px;
  max-width: 300px;
  margin: 0 auto;
  background-image: url('./images/daihan.png');
  background-size: 300px;
  background-repeat: no-repeat;
}

@media all and (min-width: 470px) {
  .shape-container {
    height: 475px;
    width: 420px;
  }

  .rectangle {
    position: absolute;
    top: 95px;
    height: 375px;
    width: 334px;
    background-color: #FDEDEE;
  }

  .daihan-who {
    position: absolute;
    left: 50px;
    height: 419px;
    width: 315px;

    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
  }

   .daihan-who:hover {
      margin-top: -5px;
  }
}

@media all and (min-width: 600px) {
  .shape-container {
    float: left;
  }
  .daihan-caption {
    height: 475px;
    overflow: auto;
  }
}

.about-footer {
  width: 100%;
}
