/* WRAPPER */

.content-wrapper {
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    width: 100%;
    padding: 110px 25px;
    box-sizing: border-box;
}

@media all and (min-width: 650px) {
  .content-wrapper {
    padding: 110px 0;
    width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 980px) {
  .content-wrapper {
    width: calc(100% - 380px);
    margin: 0 190px;
  }
}

@media all and (min-width: 1440px) {
  .content-wrapper {
    width: 1060px;
    margin: 0 auto;
  }
}

/* HEADER */

.content-header {
  width: 100%;
  height: 200px;
  background-size: 650px;
  background-position: right;
}

@media all and (min-width: 650px) {
  .content-header {
    height: 318px;
    background-size: 1440px;
    background-position: left;
  }
}

/* TITLE */

.content-title {
  height: 204px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

@media all and (min-width: 650px) {
  .content-title {
    position: absolute;
    width: calc(100% - 350px);
    top: 210px;
    left: 175px;
    padding: 0 50px;
  }
}

@media all and (min-width: 1000px) {
  .content-title {
    width: 642px;
    padding: 0 100px;
  }
}

/* MISC */

.clear-float {
  clear: both;
}
