:root {
  --footer-height: 111px;
}

.App {
  text-align: center;
  background-color: #EEF1F8;
  color: black;

  padding-top: 10px;

  position: fixed;
  height: calc(100vh - var(--footer-height));
  width: 100%;
  overflow: scroll;
}

.App-header {
  height: 70vh;
}

.top-bar {
  background-color: #EEF1F8;
  position: fixed;
  width: 100vw;
  height: 45px;

  top: 0;
  left: 0;
  z-index: 1;

  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;

  box-sizing: border-box;
}

.my-name {
  float: left;
  padding: 0;
}

a {
  padding-left: 25px;
  float: right;
}

a:hover {
  cursor: pointer;
  color: blue;
}

.App-title {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: var(--footer-height);
  width: 100vw;
  background-color: #C1B2BF;
  z-index: 1;
}

.content-card-wrapper {
  position: relative;

  /* Hard-coded to the height of 6 stacked tiles */
  height: 3400px;
  width: 100%;

  background-color: white;
}
