.tile {
  position: relative;

  height: 500px;
  width: 350px;
  background-color: #D6C8D1;

  border-radius: 18px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),0 5px 15px 0 rgba(0,0,0,0.08);
  overflow: hidden;
}

.tile-bottom {
  position: absolute;
  bottom: 0;

  background-color: white;
  height:187px;
  width: 100%;
}

.tile-text-box {
  position: absolute;
  top: 43px;
  left: 43px;

  text-align: left;
}

.tile-header-text {
  color: #EA1C44;
  font-size: 8px;
}

.tile-title {
  padding-top: 10px;
}

.tile-desc {
  color: #7F7F7F;
  font-size: 10px;
  padding-top: 7px;
}
