.about {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.8em;
  color: #41434f;
}

.about-wrapper {
  position: relative;
  max-width: 830px;
  margin: 50px auto;
  padding: 0 50px;
  display: flex;
}

@media all and (min-width: 1073px) {
  .about-text-block {
    width: 693px;
    margin: 0 auto;
  }
}

.daihan-caption {
  word-wrap: break-word;
}

@media all and (min-width: 1050px) {
  .daihan-caption {
    overflow: auto;
  }
}

@media all and (min-width: 1300px) {
  .daihan-caption {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* LISTS */

.list-column {
  padding: 10px;
  box-sizing: border-box;
}

.cat-pic {
  width: 40%;
}

@media all and (min-width: 500px) {
  .cat-pic {
    width: 75%;
  }
  .list-column {
    float: left;
    width: 33.333333%;
  }
}

.list-column ol {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.about-section-header {
  margin-top: 32px;
  text-align: center;
}
