.about {
  /* Keep width/padding in sync with .intro in Intro.css */
  max-width: 840px;
  margin: 50px auto;
  padding: 0 50px;

  /* fonts */
  font-family: 'Futura', sans-serif;
  font-weight: 500;
  line-height: 1.8em;
  color: #41434f;
}

.about-block {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto;
}

.about-caption {
  word-wrap: break-word;
  max-width: 400px;
}

.about-desc {
  font-size: 0.875em;
  line-height: 1.5rem;
  margin: 1.5rem auto;
}


/* IMAGES */

.three-cats {
  max-width: 100%;
  width: 360px;
}

.westjet {
  flex-basis: 50%;
  max-width: 400px;
}
