.content-container {
  background-color: white;
  border-radius: 10px;
  margin: 16px;
}

.grid-content-container {
  background-color: inherit;
}

.floatingTile {
  position: fixed;
  width: 400px;
  animation-name: moveTile;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border-radius: 5px;
  pointer-events: none;
}

@media all and (max-width: 500px) {
  .floatingTile {
    width: calc(100% - 80px);
  }
}

.about-wrapper {
  background-image: url('./images/Peach.png');
  background-repeat: repeat-x;
  background-size: auto 50vh;
}
