/* LAYOUT */

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 840px;
  margin: 50px auto;
}

.content-img-wrapper, .content-caption {
  margin-left: 40px;
}
.content-img-wrapper:first-child, .content-caption:first-child {
  margin: 0;
}

@media all and (max-width: 500px) {
    .content-wrapper {
      flex-direction: column;
    }
    .content-wrapper .content-img-wrapper, .content-wrapper .content-caption {
      margin: 0 40px;
    }
}

/* IMAGES */

.content-img-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-width: 220px;
  max-width: 400px;
}

.content-img {
  width: 100%;
}

.shadowed-img {
  box-shadow: 0 24px 50px 0 rgba(0,0,0,0.05),0 18px 30px 0 rgba(0,0,0,0.02);
}

/* TEXT */

.content-mini-caption {
  margin: 0.5rem auto;
  font-family: 'Futura', sans-serif;
  font-size: 0.75em;
  color: #717994;
}

.content-caption {
  flex-basis: 50%;
  max-width: 400px;
}

.content-caption h1 {
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}

.content-desc {
  font-family: 'Futura', sans-serif;
  font-size: 0.875em;
  line-height: 1.5em;
}
