/* WRAPPER */

.content-wrapper {
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    width: 100%;
    padding: 25px 25px 80px 25px;
    box-sizing: border-box;
}

@media all and (min-width: 650px) {
  .content-wrapper {
    padding-left: calc((100vw - 600px)/2);
    padding-right: calc((100vw - 600px)/2);
  }
}

@media all and (min-width: 1000px) {
  .content-wrapper {
    width: calc(100% - 380px);
    margin: 0 190px;
  }
}

@media all and (min-width: 1440px) {
  .content-wrapper {
    width: 1060px;
    margin: 0 auto;
  }
}

.mid-content-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

/* TITLE */

.content-title {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  line-height: 50px;
}

@media all and (min-width: 1000px) {
  .content-title {
    height: 204px;
    width: 642px;
    padding: 50px 100px;
    margin: 0 calc(50% - 321px);
  }
  .content-title h1 {
    text-align: center;
  }
}

/* IMAGES */

.captioned-pic {
  width: 482px;
  margin-right: 60px;
  float: left;
}

.captioned-pic p {
  text-align: center;
}

@media all and (max-width: 532px) {
  .captioned-pic {
    width: 100%;
  }
}

/* TEXT */

.content-desc {
  margin-bottom: 30px;
}

@media all and (min-width: 1000px) {
  .content-desc, .par-block, .side-caption {
    margin: 0 calc(50% - 321px);
  }
}

@media all and (min-width: 1200px) {
  .content-desc, .par-block, .side-caption {
    margin: 0 calc(50% - 371px);
  }
}

@media all and (min-width: 1370px) {
  .side-caption {
    display: inline;
    width: calc(100% - 543px);
    margin: 0;
  }
}

/* MISC */

.clear-float {
  clear: both;
}

.mid-header {
  width: 100%;
  background-color: white;
}
