.footer {
  box-sizing: border-box;
  background-color: #100C3A;
  margin: 16px;
  border-radius: 10px;
}

.footer-content {
  padding: 70px 0;
  margin: auto 120px;
  max-width: 600px;
}

.footer-text {
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  /* margin: 0 auto; */
  color: white;
}

.footer-text p {
  font-weight: inherit;
  font-size: 0.875em;
  line-height: 200%;
  color: white;
}

.footer-text a {
  color: white;
}

.footer-header {
  margin-top: 0;
  color: white;
}
