.footer {
  box-sizing: border-box;
  background-color: #100C3A;
}

.footer-content {
  padding: 70px 0;
  margin: auto;
  max-width: 600px;
}

.line {
  width: 60px;
  margin-left: 0;
}

.footer-text {
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  color: white;
}

.footer-text p {
  line-height: 150%;
  color: white;
  text-align: center;
}

.footer-text a {
  color: white;
}

.footer-header {
  margin-top: 0;
  text-align: center;
  color: white;
  font-weight: bold;
}

.goodbye-text {
}
