.footer {
  height: 633px;
  padding-top: 100px;
  box-sizing: border-box;
}

.footer-content {
  width: 100%;
  height: 300px;
  margin: auto;
}

.line {
  width: 60px;
  margin-left: 0;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: calc( 100% - 40px);
  margin: 0 20px;
  color: #333333;
}

.footer-text p {
  line-height: 150%;
}

.footer-text a {
  color: #999999;
}

.goodbye-text {
  font-size: 80%;
}

.footer-image {
  width: 100%;
}

@media all and (min-height: 620px) {
  .footer {
    margin-top: calc(100vh - 620px);
  }
}

@media all and (min-width: 535px) {
  .footer {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .footer-text {
    width: 400px;
    margin: 0 auto;
    padding-left: 100px;
  }
  .footer-image {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
  }
}

@media all and (min-width: 1000px) {
  .footer {
    padding-top: 200px;
  }
  .footer-content {
    width: 900px;
  }
  .footer-text {
    padding: 0;
    float: left;
  }
  .footer-image-wrapper {
    float: right;
    position: relative;
    width: 500px;
    height: 300px;
  }
  .footer-image {
    position: absolute;
    top: -100px;
    left: 0;
  }
}
