.grid-wrapper {
  position: relative;
  border-radius: 18px;
  padding-bottom: 30px;
  box-shadow: 0 -5px 50px 0 rgba(0,0,0,0.05),0 -2px 15px 0 rgba(0,0,0,0.05);
  background-color: white;
}

.grid-wrapper-bottom {
  position: absolute;
  bottom: -25px;
  background-color: white;
  height: 40px;
  width: 100%;
}

.grid-container {
  display: grid;
  padding: 50px;
  padding-bottom: 100px;
  grid-gap: 50px;
  justify-content: center;
}

@media all and (max-width: 375px) {
  .grid-container {
    padding: 50px 25px;
  }
}

/* INTRO */

.email-link {
  font-family: 'Roboto', sans-serif;
  color: #EA1C44;
  font-size: 16px;
  font-weight: 700;
  display: none;
}

.about-link {
  float: right;
  margin-top: 260px;
  margin-right: 25%;
  font-size: 1em;
  color: #094064;
  font-weight: 700;
}

@media all and (min-width: 620px) and (max-width: 768px) {
  .about-link {
    padding-top: 160px;
  }
}

.intro-title {
  /* Mobile view goes here */
}

@media all and (min-width: 350px) {
  .intro-title {
    /* Medium size view / brown dog */
  }
}

.intro-box {
  display: inline;
}

@media all and (min-width: 620px) {
  .intro-title {
    height: 300px;
  }
}

.front-page-backdrop {
  background-image: url('./images/landing-background-mobile.png');
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  width: 100%;
  /* Set height of div with JS */
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .front-page-backdrop {
    background-image: url('./images/landing-background.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    height: 590px;
  }
}

.grid-pink-box {
  position: absolute;
  height: 50px;
  width: 100px;
  z-index: -1;
  background-color: #feedef;
}
