.grid-wrapper {
  position: relative;
  padding: 50px;
  padding-bottom: 130px;
  background-color: white;
}

.grid-heading {
  margin-left: 40px;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
}

@media all and (max-width: 375px) {
  .grid-container {
    padding: 50px 25px;
  }
}
