.grid-wrapper {
  position: relative;
  border-radius: 18px;
  padding-bottom: 30px;
  box-shadow: 0 -5px 50px 0 rgba(0,0,0,0.05),0 -2px 15px 0 rgba(0,0,0,0.05);
}

@media all and (min-width: 650px) {
  .grid-wrapper {
    margin-top: 60px;
  }
}

.grid-wrapper-bottom {
  position: absolute;
  bottom: -25px;
  background-color: white;
  height: 40px;
  width: 100%;
}

.grid-container {
  display: grid;
  padding: 50px;
  padding-bottom: 100px;
  grid-gap: 50px;
  justify-content: center;
}

@media all and (max-width: 375px) {
  .grid-container {
    padding: 50px 25px;
  }
}

/* INTRO */

.content-wrapper a {
  font-family: 'Roboto', sans-serif;
  color: #EA1C44;
  font-size: 16px;
  font-weight: 700;
  padding-left: 80px;
}

.content-wrapper h3 {
  text-align: right;
  padding-right: 80px;
}

.intro-title {
  line-height: 125%;
  font-weight: 600;
  color: #333333;
  padding-left: 80px;
}

.landing-img {
  position: absolute;
  margin-left: -120;
  z-index: -1;
}

/* TODO: Kinda hacky. Find a better way to achieve same behavior */
@media all and (min-width: 849px) {
  .intro-title {
    padding-top: 85px;
  }
}

@media all and (min-width: 1000px) {
  .intro-title {
    padding-top: 0;
  }
}
