.intro-wrapper {
  background-color: white;
  border-radius: 10px;
  margin: 16px;
}

.intro {
  align-items: center;
  position: relative;
  max-width: 840px;
  margin: 50px auto 100px;
  padding: 0 40px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* fonts */
  font-weight: 300;
  line-height: 1.8em;
}

.pronouns {
  color: #627A90;
}

.QASection {
  align-items: flex-start;
}

.daihan-image-wrapper img {
  width: 326px;
  max-width: 100%;
}

.daihan-intro-img {
  border-radius: 0px 186px 0px 0px;
}

.daihan-img {
  width: 326px;
  max-width: 100%;
}

.daihan-caption {
  word-wrap: break-word;
  max-width: 400px;
}

.daihan-intro {
  max-width: 500px;
}

.daihan-desc {
  font-size: 0.875em;
  line-height: 1.5rem;
}

.down-arrow {
  height: 44px;
}
