@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

/* BASELINE */

h1 {
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0.5em 0 1.5em;
  font-family: 'Glida Display';
  color: #142130;
}

h2 {
  font-weight: 400;
  font-size: 1.125em;
  color: #100C3A;
}

h3 {
  text-align: left;
  font-weight: 700;
  font-size: 1.125em;
  color: #E68F6C;
}

p, li {
  font-weight: 100;
  color: #627A90;
  font-family: 'Open Sans', sans-serif;
}

a, button {
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

a:hover, button:hover, a:focus, button:focus {
  cursor: pointer;
  /*color: #EA1C44;*/ /* TODO: Determine hover color (if any) */
}


/* HEADER */

.App {
  text-align: left;
  color: black;
  background-color: #F2F3F5;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar (https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp) */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App::-webkit-scrollbar {
  display: none;
}
