@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,900');

/* BASELINE */

h1 {
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.0em;
  color: #333333;
}

h2 {
  font-size: 1em;
  color: #333333;
}

h3 {
  font-size: 1em;
  color: #F9CBCE;
}

a, button {
  border: none;
  background-color: transparent;
  font: inherit;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

a:hover, button:hover, a:focus, button:focus {
  cursor: pointer;
  color: #EA1C44;
}


/* HEADER */

.App {
  text-align: left;
  color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/* BACK BTN */

.back-btn {
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: 10px;
}


/*@media all and (min-width: 750px) and (min-height: 500px) {
  .back-btn {
    top: 423px;
    left: 0;
  }
}*/

@media all and (min-width: 950px) {
  .back-btn {
    left: 10vw
  }
}

@media all and (min-width: 1250px) {
  .back-btn {
    left: 16vw
  }
}

.back-arrow {
  width: 109px;
  height: 109px;
  cursor: pointer;
  background-image: url('./images/back-arrow.png');
  background-position: center;
  background-size: 109px;
  transition: 0.5s background-image;
}

.back-arrow:hover {
  background-image: url('./images/back-arrow-hover.png');
}
