@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Yeseva+One&display=swap');

/* BASELINE */

h1 {
  text-align: left;
  font-weight: 700;
  font-size: 1.125em;
  color: #E68F6C;
  margin: 0.5em 0 1.5em;
}

h2 {
  font-weight: 700;
  font-size: 1.125em;
  color: #100C3A;
}

/* NOTE: h3 has the same styling as h1, but is used for sub-sub-sections (eg. in Q-AND-A) */
h3 {
  text-align: left;
  font-weight: 700;
  font-size: 1.125em;
  color: #E68F6C;
}

p, li {
  font-weight: 500;
  color: #3A4468;
}

a, button {
  border: none;
  background-color: transparent;
  font: inherit;
  text-decoration: none;
  color: #E68F6C;
  transition: color 0.3s ease-in-out;
}

a:hover, button:hover, a:focus, button:focus {
  cursor: pointer;
  /*color: #EA1C44;*/ /* TODO: Determine hover color (if any) */
}


/* HEADER */

.App {
  text-align: left;
  color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
