.tile {
  position: relative;

  height: 470px;
  width: 400px;
  background-color: #FFFFFF;

  border-radius: 18px;
  box-shadow: 0 24px 50px 0 rgba(0,0,0,0.05),0 18px 30px 0 rgba(0,0,0,0.02);

  transition: transform 0.3s ease-out;
}

@media all and (max-width: 350px) {
  .tile {
    width: 100%;
    height: 400px;
  }
}

.tile:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.95);
}

.tile:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-size: 28px;
  line-height: 160%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tile-bgd {
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.tile-bottom {
  position: absolute;
  bottom: 0;

  background-color: white;

  height:200px;
  width: 100%;
}

.tile-text-box {
  position: absolute;
  top: 46px;
  left: 46px;
  margin-right: 46px;
  text-align: left;
}

.tile-header-text {
  font-family: 'Futura', sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: #FFE6DC;
  display: inline;
  text-align: center;
  border-radius: 20px;
  padding: 2px 16px 2px 16px;
}

.tile-title {
  font-family: 'Futura', sans-serif;
  padding-top: 12px;
  margin: 0;
}

.tile-desc {
  color: #3A4468;
  font-family: 'Futura', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-top: 6px;
  line-height: 150%;
}
