.tile {
  position: relative;
  max-width: 400px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 24px 50px 0 rgba(0,0,0,0.05),0 18px 30px 0 rgba(0,0,0,0.02);
  transition: transform 0.3s ease-out;
}

@media all and (max-width: 350px) {
  .tile {
    width: 100%;
    height: 400px;
  }
}

.tile:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
}

.tile:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-family: 'Futura', sans-serif;
  color: #3A4468;
  font-size: 28px;
  line-height: 160%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-subtext {
  font-size: 14px;
}

.tile-bgd {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.tile-bottom {
  background-color: white;
  width: 100%;
}

.tile-text-box {
  margin: 26px 40px;
  text-align: left;
}

.tile-header-text {
  font-family: 'Futura', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  background-color: #FFE6DC;
  display: inline;
  text-align: center;
  border-radius: 20px;
  padding: 5px 16px;
}

.tile-title {
  font-family: 'Futura', sans-serif;
  margin: 16px 0 8px;
}

.tile-desc {
  color: #142130;
  font-weight: 500;
  font-size: 24px;
  padding-top: 6px;
  line-height: 150%;
}
